


.form_group_search {
  display: flex;
  /* font-size: 60px;
  height: 50px !important; */
  margin: 40px 0 0 0 ;
}

.form_control_search {
  font-size: 30px;
  height: 60px !important;
  width: 100%;
}

form_button_search {

}


